* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0 50px;
}

.main {
  min-height: calc(100vh - 100px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}

.navbar a {
  text-decoration: none;
}
